<!DOCTYPE HTML>
<html>

<head>
	<title>Amazing Catucs </title>
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	</script>
	<!----webfonts---->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<!----//webfonts---->
	<!-- Global CSS for the page and tiles -->
	<link rel="stylesheet" href="css/main.css">
	<!-- //Global CSS for the page and tiles -->
	<!---start-click-drop-down-menu----->
		<script src="js/jquery.min.js"></script>
        <!----start-dropdown--->
         <script type="text/javascript">
			var $ = jQuery.noConflict();
				$(function() {
					$('#activator').click(function(){
						$('#box').animate({'top':'0px'},500);
					});
					$('#boxclose').click(function(){
					$('#box').animate({'top':'-700px'},500);
					});
				});
				$(document).ready(function(){
				//Hide (Collapse) the toggle containers on load
				$(".toggle_container").hide(); 
				//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
				$(".trigger").click(function(){
					$(this).toggleClass("active").next().slideToggle("slow");
						return false; //Prevent the browser jump to the link anchor
				});
									
			});
		</script>
        <!----//End-dropdown--->
		<!---//End-click-drop-down-menu----->
</head>

<body>
	<!---start-wrap---->
	<!---start-header---->
	<div class="header">
		<div class="wrap">
			
			<div class="nav-icon">
				<a href="#" class="right_bt" id="activator"><span> </span> </a>
			</div>
			<div class="box" id="box">
				<div class="box_content">
					<div class="box_content_center">
						<div class="form_content">
							<div class="menu_box_list">
								<ul>
										<li><a href="index"><span>דף הבית </span></a></li>
										<li><a href="#"><span>עלינו</span></a></li>
										<li><a href="contact"><span>צור קשר </span></a></li>
										<div class="clear"> </div>
								</ul>
							</div>
							<a class="boxclose" id="boxclose"> <span> </span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="top-searchbar">
				<form>
					<input type="text" /><input type="submit" value="" />
				</form>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
	</head>
	<div class="content">
		<div class="about-data">
			<div class="post-basic-info">
				<div class ="aseel_data">
					<img align="left" src="images/flowerphoto/Aseel.jpg" width=20% height="20%" />
					<div class="headData"> Aseel biography  </div>
					<blockquote>
						Margaret Hilda Thatcher, Baroness Thatcher, LG, OM, PC, FRS, FRIC (née Roberts; 13 October 1925 – 8 April 2013) was a British
						stateswoman who was the Prime Minister of the United Kingdom from 1979 to 1990 and the Leader of the Conservative Party
						from 1975 to 1990. She was the longest-serving British prime minister of the 20th century, and the first woman to have
						held the office. A Soviet journalist dubbed her The Iron Lady, a nickname that became associated with her uncompromising
						politics and leadership style. As Prime Minister, she implemented policies that have come to be known as Thatcherism.
						A research chemist before becoming a barrister, Thatcher was elected Member of Parliament for Finchley in 1959. Edward
						Heath appointed her Secretary of State for Education and Science in his 1970 government. In 1975, Thatcher defeated
						Heath in the Conservative Party leadership election to become Leader of the Opposition and became the first woman to
						lead a major political party in the United Kingdom. She became Prime Minister after winning the 1979 general election.
						On moving into 10 Downing Street, Thatcher introduced a series of political and economic initiatives intended to reverse
						high unemployment and Britain's struggles in the wake of the Winter of Discontent and an ongoing recession.[nb 1] Her
						political philosophy and economic policies emphasised deregulation (particularly of the financial sector), flexible
						labour markets, the privatisation of state-owned companies, and reducing the power and influence of trade unions. Thatcher's
						popularity during her first years in office waned amid recession and high unemployment, until victory in the 1982 Falklands
						War and the recovering economy brought a resurgence of support, resulting in her re-election in 1983. She narrowly
						escaped an assassination attempt in 1984. Thatcher was re-elected for a third term in 1987. During this period her
						support for a Community Charge (referred to as the "poll tax") was widely unpopular, and her views on the European
						Community were not shared by others in her Cabinet. She resigned as Prime Minister and party leader in November 1990,
						after Michael Heseltine launched a challenge to her leadership. After retiring from the Commons in 1992, she was given
						a life peerage as Baroness Thatcher (of Kesteven in the County of Lincolnshire) which entitled her to sit in the House
						of Lords. After a series of small strokes in 2002, she was advised to withdraw from public speaking. Despite this,
						she managed to pre-record a eulogy to Ronald Reagan prior to his death, which was broadcast at his funeral in 2004.
						In 2013, she died of another stroke in London, at the age of 87. She is regarded as a controversial yet epochal figure
						of British politics, and arguments over the ramifications of Thatcherism persist.
					</blockquote>
				</div>
			</div>
		</div>
	</div>
	</div>

</html>