<!DOCTYPE HTML>
	<html>
	<head>
    <title>About us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="fancybox/source/jquery.fancybox.css?v=2.1.6" type="text/css" media="screen" />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
	
	
    <!-- Squad theme CSS -->
    
	
</script>
<head>
<body class="contactPage">
<header>
     <div class="navbar navbar-default navbar-static-top">
        <div  class= "container">
                <a href="#" class="navbar-brand"><img src = "images/flowerphoto/logo.ico"></a>
                <button class= "navbar-toggle" data-toggle = "collapse" data-target=".navbarHeaderCollapse" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <div class= "navbar-collapse navbarHeaderCollapse">
                    <ul class= "nav navbar-nav navbar-right">
                     <li class = "navbar" > <a href="contact"> צור קשר </a></li>
                    <li class = "navbar" > <a href="#"> מי אנחנו  </a></li>
                    <li class = "navbar "  > <a href="index"> דף הבית  </a></li>
                   
                    </ul>
                </div>
        </div>
    </div>
</header>
	<div class="container">
		<div dir = "rtl" class="row">
	
			<div class="col-lg-2 col-lg-offset-5">
				<h1 dir = "rtl" class = " text-primary text-center"> קצת עלי  </h1>
				
			</div>
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="primary-100">
				
			</div>
		</div>

		<img align="right" class="img-thumbnail" src="images/flowerphoto/Aseel.jpg" width=30%  height=30%/>
			
			
			<p dir="rtl" class = "">
			שמי אסיל עומרי אסמאעיל  עם רוח עצוב מאד חזקה  
			</p>
			<h4 dir="rtl">
			הקקטוסים הם משפחה בוטנית של צמחים שהתפתחה בעולם החדש (יבשת אמריקה) אחר פירוק יבשת העל גונדוונה, ולפני כ-40 מיליון שנה. משפחת הקקטוסים היא משפחה של צמחים סוקולנטים (כל הקקטוסים הם סוקולנטים אך לא כל הסוקולנטים הם קקטוסים) שהתפתחה במקורה בסביבה מדברית או מדברית למחצה, ולקקטוסים יכולות שונות להתמודדות עם תנאי אקלים קשים. רוב הקקטוסים נושאים קוצים שהם למעשה עלים שעברו הסתגלות אבולוציונית לתנאי עקה של מחסור במים. הסתגלות אבולוציונית נוספת היא פיתוח תאים פוטוסינתטיים בענפים (או בגבעולים) ובכך צמצום שטח הפנים של הצמח (ויתור על העלים) תוך שמירה על היכולות היצרניות החיוניות לקיום כל צמח. רוב הקקטוסים הם בעלי היכולת לקיים פוטוסינתזת C.A.M. פוטוסינתזת C.A.M. מאפשרת לקקטוס לאגור פחמן דו-חמצני במשך הלילה כחומצה אורגנית, ובכך לבצע במהלך היום פוטוסינתזה (קשירת פחמנים במימן ויצירת סוכרים) תוך שהפיוניות שלהם סגורות ובכך לצמצם את איבוד המים הכרוך בתהליך. אחד המאפיינים המובהקים של המשפחה הוא קיומם של 'אראולים' (Areole). האראולים הם מעין גבעולים מנוונים המקשרים בין הענפים (גוף הקקטוס, הירוק) והעלים או הקוצים. כל הקוצים והעלים יוצאים מן האראולים. האראולים נראים כבליטות קשיחות או כצלקות עגולות או אליפטיות הסדורות בטורים או במבנה גאומטרי כלשהו על ה'ענפים'.
			</h4>

				</div>
			</div>
	</div>

</html>