<!DOCTYPE HTML>
	<html>
	<head>
    <title>About us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="fancybox/source/jquery.fancybox.css?v=2.1.6" type="text/css" media="screen" />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
	
	
    <!-- Squad theme CSS -->
    
	
</script>
<head>
<body class="contactPage">
<header>
     <div class="navbar navbar-default navbar-static-top">
        <div  class= "container">
                <a href="#" class="navbar-brand"><img src = "images/flowerphoto/logo.ico"></a>
                <button class= "navbar-toggle" data-toggle = "collapse" data-target=".navbarHeaderCollapse" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <div class= "navbar-collapse navbarHeaderCollapse">
                    <ul class= "nav navbar-nav navbar-right">
                     <li class = "navbar" > <a href="contact"> צור קשר </a></li>
                    <li class = "navbar" > <a href="#"> מי אנחנו  </a></li>
                    <li class = "navbar "  > <a href="index"> דף הבית  </a></li>
                   
                    </ul>
                </div>
        </div>
    </div>
</header>
	<div class="container">
		<div dir = "rtl" class="row">
	
			<div class="col-lg-2 col-lg-offset-5">
				<h1 dir = "rtl" class = " text-primary text-center"> קצת עלי  </h1>
				
			</div>
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="primary-100">
				
			</div>
		</div>

		<img align="right" class="img-thumbnail" src="images/flowerphoto/Aseel.jpg" width=30%  height=30%/>
			
				
			<h2 dir="rtl" class = "">
			שמי אסיל עומרי אסמאעיל  עם רוח עיצוב מאד חזקה  
			</h2>
            <h1 dir = "rtl" class = " text-primary"> למה קקטוס ?</h1>
			<h2 dir="rtl">
		    בחרתי לעסוק בעיצוב קקטוסים מאהבה גדולה לפרחים ולקקטוסים במיוחד, משום שהם צמחים בעלי יכולת הישרדות גבוהה במיוחד, ומסוגלים להתמודד עם אקלים קיצוניים, והם משרים הרגשה של יציבות ורוגע ולא צריך לטרוח סביבם כל כך הרבה. לכן, הם קלים לגידול ביתי ולעיצוב עם חול, אבנים וצבעים כמו שמופיע בגלריה שלי.
			</h2>
            <h1 dir = "rtl" class = " text-primary"> מה מייחד אותי  ? </h1>
			<h2 dir="rtl">
		    דרך העיצוב שלי אני נוגעת ללב של האנשים ויוצרת עולם מלא רעיונות, חידושים ומשלבת בתוכו זכוכית, קקטוסים, אבנים וצבעים.
אני מעצבת בתוך זכוכית עולם קטן שיכול להתאים לבית, לגינה, למשרדים ולאירועים.

אני משתפת פעולה עם הלקוח, ומייצרת עיצוב המותאם לסגנון הבית ולאירוע והטעם שלו.

אשמח לייצור עבורכם חלק מחוויה שיוצאת דופן, ושיכולה לרגש אותכם במיוחד ובאופן שונה וחדשני. שלי.
			</h2>
				</div>
			</div>
	</div>

</html>