<html>
<head>
    <title>Amazing catcus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="fancybox/source/jquery.fancybox.css?v=2.1.6" type="text/css" media="screen" />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
	
	
    <!-- Squad theme CSS -->
    
	
</script>
<head>
<body class="contactPage">
<header>
     <div class="navbar navbar-default navbar-static-top">
        <div  class= "container">
                <a href="#" class="navbar-brand"><img src = "images/flowerphoto/logo.ico"></a>
                <button class= "navbar-toggle" data-toggle = "collapse" data-target=".navbarHeaderCollapse" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <div class= "navbar-collapse navbarHeaderCollapse">
                    <ul class= "nav navbar-nav navbar-right">
                     <li class = "navbar" > <a href="#"> צור קשר </a></li>
                    <li class = "navbar" > <a href="about"> מי אנחנו  </a></li>
                    <li class = "navbar "  > <a href="newIndex"> דף הבית  </a></li>
                   
                    </ul>
                </div>
        </div>
    </div>
</header>


  <div dir = "rtl" class="contact-us">
  	<h1 dir = "rtl" class = " text-primary text-center">נהיה בקשר </h1>
	  <div dir = "rtl" class="container">

		<div dir = "rtl" class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="primary-100">
				
			</div>
		</div>
       <div class="container">
          <div class="contact-form">
           <div class="row">
               <div class="col-sm-7">                  
                    <form   method="post" action="contact" role="form">
                        <div class="messages" id="form-messages"></div>
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-6">
                                    <div  dir="rtl" class="form-group">
                                        <label dir="rtl" for="form_name"> שם משפחה </label>
                                        <input dir="rtl" id="form_name" type="text" name="name" class="form-control" placeholder="הכנס שם משפחה ">
                                    </div>
                                </div>
                                <div dir="rtl" class="col-md-6">
                                    <div class="form-group">
                                        <label  dir="rtl" for="form_lastname">שם פרטי</label>
                                        <input  dir="rtl"id="form_lastname" type="text" name="surname" class="form-control" placeholder="הכנס שם פרטי" > 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div dir="rtl" class="col-md-6">
                                    <div class="form-group">
                                        <label dir="rtl" for="form_email">מייאל</label>
                                        <input dir="rtl" id="form_email" type="email" name="email" class="form-control" placeholder="הכנס כתובת מייאל ">
                                    </div>
                                </div>
                                <div dir="rtl" class="col-md-6">
                                    <div class="form-group">
                                        <label dir="rtl" for="form_phone">מספר טלפון</label>
                                        <input dir="rtl" id="form_phone" type="tel" name="phone"  class="form-control" placeholder="הכנס מספר טלפון">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div dir="rtl" class="col-md-12">
                                    <div class="form-group">
                                        <label dir="rtl for="form_message">הודעה </label>
                                        <textarea dir="rtl id="form_message" name="message" class="form-control" placeholder="שלח לי הודעה " rows="6"></textarea>
                                    </div>
                                </div>
                                <div  dir="rtl" class="col-md-12">
                                    <input type="submit" class="btn btn-primary" value="שלח הודעה">
                                </div>
                            </div>
                            <div class="row">
                                <div dir="rtl" class="col-md-12">
                                   <br>
                                    <small  dir="rtl" class="text-muted"> כל השדות חובה <strong>*</strong></small>
                                </div>
                            </div>
                        </div>

                    </form>
    
               </div>
               <div  dir="rtl"  class="col-sm-5">
                   <div   dir="rtl"  class="row col1">
                      
                       <div dir="rtl" class="col-xs-9">
					   יפיע , כפר החורש 
					   </br>
					   מיקוד 16955 , ת.ד. 3086 
					   </div>
					    <div dir="rtl" class="col-xs-3">
                           <i dir="rtl" class="fa fa-map-marker" style="font-size:16px;"></i>   כתובת 
                       </div>
                   </div>
                   
                    <div dir="rtl"  class="row col1">
						<div  dir="rtl"  class="col-sm-9">
                             0547340745
                        </div>
                        <div dir="rtl"  class="col-sm-3">
                            <i class="fa fa-phone"></i>  טלפון 
                        </div>
                        
                    </div>
                    <div  dir="rtl" class="row col1">
                        <div dir="rtl" class="col-sm-9">
                              123 123 4567
                        </div>
						<div dir="rtl" class="col-sm-3">
                             <i dir="rtl" class="fa fa-fax"></i>    פקס  
                        </div>
                    </div>
                    <div  dir="rtl" class="row col1">
                       
                        <div  dir="rtl" class="col-sm-9">
                             <a href="mailto:aseelOmari87@gmail.com">aseelOmari87@gmail.com</a>
                        </div>
						 <div  dir="rtl" class="col-sm-3">
                            <i dir="rtl" class="fa fa-envelope"></i>   מייאל 
                        </div>
                    </div><br>
                   
               </div>
           </div>
           
          </div>
       </div>

</body>
</html>
