<html>
<head>
    <title>Amazing catcus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="fancybox/source/jquery.fancybox.css?v=2.1.6" type="text/css" media="screen" />
    <script type="text/javascript" src="fancybox/source/jquery.fancybox.pack.js?v=2.1.6"></script>
    <link rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    <link rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
<head>
<body>
<header>
     <div class="navbar navbar-default navbar-static-top">
        <div  class= "container">
                <a href="#" class="navbar-brand"><img src = "images/flowerphoto/logo.ico"></a>
                <button class= "navbar-toggle" data-toggle = "collapse" data-target=".navbarHeaderCollapse" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <div class= "navbar-collapse navbarHeaderCollapse">
                    <ul class= "nav navbar-nav navbar-right">
                     <li class = "navbar" > <a href="contact"> צור קשר </a></li>
                    <li class = "navbar" > <a href="about"> מי אנחנו  </a></li>
                    <li class = "navbar "  > <a href="#"> דף הבית  </a></li>
                   
                    </ul>
                </div>
        </div>
    </div>
    
</header>

<div class="container">
        <div class= "col-md-4">
		<a class="fancybox" href="images/flowerphoto/1d.jpeg" data-fancybox-group="gallery" >
		<img  class="img-thumbnail img-responsive "  src="images/flowerphoto/1d.jpeg" /></a>
		</div>
		<div class= "col-md-4">
		<a class="fancybox" href="images/flowerphoto/2t.jpg" data-fancybox-group="gallery">
		<img  class="img-thumbnail img-responsive " src="images/flowerphoto/2t.jpg"  /></a>
        </div>
		<div class= "col-md-4">
		<a class="fancybox" href="images/flowerphoto/2r.jpg" data-fancybox-group="gallery">
		<img  class="img-thumbnail img-responsive "  src="images/flowerphoto/2r.jpg"  /></a>
		</div>
        <div class= "col-md-4">
         <a class="fancybox" href="images/flowerphoto/2d.jpg" data-fancybox-group="gallery">
		<img class="img-thumbnail img-responsive " src="images/flowerphoto/2d.jpg"  /></a>
        </div>
        <div class= "col-md-4">
		<a class="fancybox" href="images/flowerphoto/2z.jpg" data-fancybox-group="gallery">
		<img   class="img-thumbnail img-responsive " src="images/flowerphoto/2z.jpg" /></a>
		</div>
        <div class= "col-md-4">
		<a class="fancybox" href="images/flowerphoto/3x.jpg" data-fancybox-group="gallery">
		<img  class="img-thumbnail img-responsive " src="images/flowerphoto/3x.jpg" /></a>
        </div>
        <div class= "col-md-4">
		<a class="fancybox" href="images/flowerphoto/1a.jpg" data-fancybox-group="gallery">
		<img  class="img-thumbnail img-responsive " src="images/flowerphoto/1a.jpg" /></a>
        </div>
        <div class= "col-md-4">
		<a class="fancybox" href="images/flowerphoto/1h.jpg" data-fancybox-group="gallery" >
	    <img class="img-thumbnail img-responsive " src="images/flowerphoto/1h.jpg" /></a>
        </div>
        <div class= "col-md-4">
		<a class="fancybox" href="images/flowerphoto/1b.jpeg" data-fancybox-group="gallery">
		<img class="img-thumbnail img-responsive " src="images/flowerphoto/1b.jpeg" /></a>
		</div>
        <div class= "col-md-4">
		<a class="fancybox" href="images/flowerphoto/1c.jpeg" data-fancybox-group="gallery">
		<img  class="img-thumbnail img-responsive " src="images/flowerphoto/1c.jpeg" /></a>
        </div>
        <div class= "col-md-4">
		<a class="fancybox" href="images/flowerphoto/1e.jpeg" data-fancybox-group="gallery">
		<img class="img-thumbnail img-responsive "src="images/flowerphoto/1e.jpeg" /></a>
		</div>
        <div class= "col-md-4">
          <a class="fancybox" href="images/flowerphoto/1g.jpg" data-fancybox-group="gallery">
		 <img class="img-thumbnail img-responsive " src="images/flowerphoto/1g.jpg" /></a>
		</div>
        <div class= "col-md-4">
		    <a class="fancybox" href="images/flowerphoto/1l.jpg" data-fancybox-group="gallery">
			<img class="img-thumbnail img-responsive " src="images/flowerphoto/1l.jpg" /></a>
		</div> 
        <div class= "col-md-4">
        <a class="fancybox" href="images/flowerphoto/1r.jpg" data-fancybox-group="gallery">
		<img class="img-thumbnail img-responsive " src="images/flowerphoto/1r.jpg" /></a>
		</div>
        <div class= "col-md-4">
        <a class="fancybox" href="images/flowerphoto/2a.jpg" data-fancybox-group="gallery">
		 <img class="img-thumbnail img-responsive " src="images/flowerphoto/2a.jpg" /></a>
		</div>
        <div class= "col-md-4">
		<a class="fancybox" href="images/flowerphoto/2b.jpg" data-fancybox-group="gallery">
		<img  class="img-thumbnail img-responsive " src="images/flowerphoto/2b.jpg" /></a>
        </div>
        <div class= "col-md-4">
		 <a class="fancybox" href="images/flowerphoto/2c.jpg" data-fancybox-group="gallery">
		<img class="img-thumbnail img-responsive " src="images/flowerphoto/2c.jpg" /></a>
        </div>
			        
</div>
	


</body>

</html>