
.img-responsive {
	width: 4500px;
    height: 500px;
}

.list-unstyled{
	margin: 10px ;
	font-size: 1.3em;
}
h1{
	font-size: 3em;
}
.postcode{
	margin-left : 15px 
}
@media (min-width: 992px) {
.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;

}
}

textarea {
    resize: none;
	
}

.panel {
    width: 100%;
}

.form-control {
  border-color: cornflowerblue;
  
}